<mat-drawer-container class="example-container" >
  <mat-drawer #drawer [mode]="'side'">
    <div class="contentLogo">

      <svg xmlns="http://www.w3.org/2000/svg" width="120" height="60" viewBox="0 0 100 100">
        <!-- Map marker body -->
        <circle cx="50" cy="50" r="40" fill="#009688" />
      
        <!-- Map marker pin -->
        <path d="M50 10 L50 50 L60 60 L50 70 L40 60 L50 50 Z" fill="#FF5722" />
      
        <!-- Walking figure body -->
        <circle cx="35" cy="80" r="5" fill="#FFC107" />
        <path d="M35 80 L35 65" stroke="#FFC107" stroke-width="2" />
        <path d="M35 65 L30 60" stroke="#FFC107" stroke-width="2" />
        <path d="M35 65 L40 60" stroke="#FFC107" stroke-width="2" />
      
        <!-- Text -->
        <text x="50%" y="90%" dominant-baseline="middle" text-anchor="middle" font-family="Arial, sans-serif" font-size="16" font-weight="bold" fill="#222">
          Walking Tours
        </text>
      </svg>

    </div>
   

    <mat-nav-list style="width: 280px;">
      <!-- <a mat-list-item routerLink="/home">Home</a> -->
      
      <mat-list-item routerLink="/circuits" >
        <div class="menuItem">
          <i class="material-icons">wallet_travel</i>
          <span>List des circuits</span>
        </div></mat-list-item>
        <mat-list-item routerLink="/arrets" >
          <div class="menuItem">
            <i class="material-icons">edit_location</i>
            <span>List des arrets</span>
          </div></mat-list-item>

      <mat-list-item routerLink="/list-authorized">
        <div class="menuItem">
          <i class="material-icons">checklist</i>
          <span>Demandes d'autorisation</span>
        </div>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      

        <button mat-mini-fab color="primary" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        
        <!-- <button style="margin-right:15px" mat-stroked-button color="accent" (click)="redirectToAllArrets()">
          <mat-icon>list</mat-icon>
          All arrets
      </button> -->
      <span class="spacer"></span>
      <!-- <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button> -->
      <!-- <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- Profile Information -->
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile Information</span>
        </button>
      
        <!-- Add New Admin -->
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Add New Admin</span>
        </button>
      
        <!-- List of Admins -->
        <button mat-menu-item>
          <mat-icon>people</mat-icon>
          <span>List of Admins</span>
        </button>
      
        <!-- Log Out -->
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
  </mat-toolbar>

  <ng-content select="[mainContent]"></ng-content>
  </mat-drawer-content>
</mat-drawer-container>