<div class="content">
    <mat-toolbar-row>
        <h2>Arrets List</h2>
        <span class="example-spacer"></span>
        <button mat-stroked-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Back
        </button> 
    </mat-toolbar-row>
      <table mat-table [dataSource]="arrets" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="demo-image">
          <th mat-header-cell *matHeaderCellDef> No.Image </th>
          <td mat-cell *matCellDef="let element" style="height: 110px;padding:5px;"> 
            <img [src]="baseUrl + '/' + element.imagePath " width="150px"/> 
          </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="demo-title">
          <th mat-header-cell *matHeaderCellDef> Titre </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="demo-order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element"> {{element.order}} </td>
        </ng-container>
      
        
    
        <ng-container matColumnDef="demo-actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-flat-button class="right-button" color="primary" (click)="editArret(element.idCircuit,element._id)">
                    <mat-icon>edit</mat-icon>
                    Update
                </button>
                <button mat-flat-button class="right-button" color="warn" (click)="removeArret(element)">
                    <mat-icon>delete</mat-icon>
                    Remove
                </button>
                <!-- <button mat-flat-button class="right-button" color="accent" (click)="redirectToNewArret(element._id)">
                    <mat-icon>add</mat-icon>
                    New arrêt
                </button> -->

            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>

      <!-- <mat-paginator
        [pageSize]="pageSize"
        [length]="totalItems"
        (page)="onPageChange($event)"
      ></mat-paginator> -->

</div>

<footer class="footer">
    <p>&copy; 2023 Waking Tours App</p>
</footer>
