

/* Add this to your component's CSS file or a global stylesheet */
.image-preview {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    width: 220px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  /* Set the grid-container to take up the full height of its container */
.grid-container {
    //height: 100% !important;
    padding-bottom: 100vh;
    //background: red;
    //overflow: scroll;
  }
  
  /* Set the grid-item to take up the full height of its parent grid-tile */
  .grid-item {
    height: 98%;
    width: 100%;
    padding: 0px 10px;
  }

  .saveBtn{
    display: flex;
    background: #dbdbd8;
    height: 100px;
    align-items: center;
    margin-top: -60px;
    padding-right: 20px;
  }
 
  /* circuit-create.component.scss or global styles */

  
  /* Add more styles as needed */

.content {
    background-color: #f0f0f0;
    padding: 20px;
    min-height: calc(100vh - 176px); /* Adjust for the footer height */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.example-spacer {
    flex: 1 1 auto;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}
  
.form-field {
    flex: 1;
    margin-right: 10px; /* Adjust spacing as needed */
    width: 100%; /* Ensure full width of form fields */
    max-width: 300px; /* Set a maximum width if needed */
}