<div class="content">
    <div style="display: flex;  justify-content: center; align-items: center;">
        <h2>{{ isEditMode ? 'Edit a' : 'Create a New'}} Circuit</h2>
        <span class="example-spacer"></span>
        <button mat-stroked-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Back
          </button>    
    </div>
    
    <form (ngSubmit)="onSubmit()" #circuitForm="ngForm" enctype="multipart/form-data">
        <mat-grid-list cols="2" class="grid-container">
          <!-- Grid tiles go here -->
          <mat-grid-tile class="test">
            <div class="grid-item">
                <p>Enter Circuit information :</p>
                <div class="form-container">
                    <div class="form-field">
                        <mat-form-field style="width:100%">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City" [(ngModel)]="newCircuit.city" name="city" required>
                        </mat-form-field>
                    </div>
                    
                    <div class="form-field">
                        <mat-form-field style="width:100%">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Country" [(ngModel)]="newCircuit.country" name="country" required>
                        </mat-form-field>
                    </div>
                </div>
                
                <!-- Title -->
                <mat-form-field style="width:100%">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Title" [(ngModel)]="newCircuit.title" name="title" required>
                </mat-form-field>
                
                <!-- Description -->
                <mat-form-field style="width:100%">
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Description" [(ngModel)]="newCircuit.description" name="description" required></textarea>
                </mat-form-field>
            </div>

          </mat-grid-tile>
          <mat-grid-tile style="align-items: start;">
            <div class="grid-item">
                  <p>Enter Circuit Geolocalisation : 
                    <small> click on the map to choose circuit area</small>
                  </p>
                  <div class="form-container">
                    <div class="form-field">
                        <!-- Latitude -->
                        <mat-form-field appearance="fill" style="width:100%">
                            <mat-label>Latitude</mat-label>
                            <input matInput type="text" [(ngModel)]="newCircuit.mapContent.lat" placeholder="Latitude" [ngModelOptions]="{ standalone: true }" [readonly]="readonlyMode" required/>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <!-- Longitude -->
                        <mat-form-field appearance="fill" style="width:100%">
                            <mat-label>Longitude</mat-label>
                            <input matInput type="text" [(ngModel)]="newCircuit.mapContent.lng" placeholder="Longitude" [ngModelOptions]="{ standalone: true }" [readonly]="readonlyMode" required />
                        </mat-form-field>
                    </div>
                    <!-- Circular button for adding -->
                    <button mat-icon-button color="primary" type="button" (click)="addMapContent()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <!-- Circular button for deleting -->
                    <button mat-icon-button color="warn" type="button" (click)="clearMapContent()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <!-- Language -->
                <mat-form-field style="width:100%">
                  <mat-label>Language</mat-label>
                  <mat-select [(ngModel)]="newCircuit.languages" [ngModelOptions]="{ standalone: true }" multiple required>
                    <mat-option *ngFor="let language of languageOptions" [value]="language">
                      {{ language }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- Image -->
                <div class="form-group">
                  <label for="image">Image</label>
                  <input
                    type="file"
                    id="image"
                    (change)="onImageSelected($event)"
                    accept=".jpg, .png, .jpeg"
                  />
              </div>
                
                <!-- Image Preview -->
              <div class="image-preview">
                  <img *ngIf="existingImageUrl" [src]="existingImageUrl" alt="Existing Image" />
              </div>
              <!-- Map -->
              <!-- <div id="mapContainer" style="width: 620px; height: 400px;"></div> -->
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="saveBtn">
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary" type="submit" [disabled]="circuitForm.invalid">{{ isEditMode ? 'Edit' : 'Create'}} Circuit</button>

        </div>
        
    </form>
</div>

<footer class="footer">
    <p>&copy; 2023 Waking Tours App</p>
    <!-- Other footer information goes here -->
</footer>

